/generated_files/autotrader_wc.pkl
/generated_files/cars_links.txt
/generated_files/cars_wc.pkl
/generated_files/gumtree_links.txt
/generated_files/gumtree_wc.pkl
/generated_files/main.pkl
/generated_files/surf4cars_links.txt
/generated_files/surf4cars_wc.pkl
